<div class="wrapper wrapper_padding clearfix">
  <div class="hero">
  <h1>Hello!</h1>
    <p>This is John. I'm a professional clock-puncher by day and an aspiring Ruby programmer by night. When I'm not in front of my laptop screen, I listen to rap music while keeping tabs on twitter Kanye.</p>
    <p> <%= link_to "Tag along", welcome_index_path, {:style=>'text-decoration:none' }%> as I journey into the realms of programming abyss.</p>
  </div>
  
  <div class ="col-1 about homepage_content">
    <h2>About This Blog</h2>
    <hr>
    <p>Hi! This is John, and welcome to my personal blog.</p>
    <p>This is where you can keep tabs on my life as an aspiring programmer. I try my best to document my learning journey in complete detail and transparency.</p>
    <p>In the past, I have always found myself dabbling in new ventures but failing to give it my all and following through with all my heart. This journal is my attempt to buck the trend, keep myself accountable, and spill everything - my thoughts, my doubts, my fears, and my inner struggles.</p>
    <p>Hopefully by documenting this entire process, I can see the journey more clearly for myself, see how much effort I have put in, and push myself to keep going. Maybe one day, I'll be able to look back, see how far I have come, and give myself a pat on the back. But until then, the journey continues...</p>
    <p>Please say <a href="#"><%= link_to "hello", new_contact_path %></a> if you stumble upon this blog as the journey can be lonely sometimes. As you can see, this blog is a work in progress, and is something I hope will grow together with the advancement of my programming skills.</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Recent Posts</h2>
    <hr>

    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %d %b %Y") %></p>
    <% end %>
  </div>
</div>