<div class="wrapper wrapper_padding clearfix">
  
  <div id="hero">
  <h1><%= image_tag("head2.png", alt: "john's head") %> -Hello! </h1>
    <p>I'm John, and welcome to my personal blog! I'm a professional clock-puncher by day and an aspiring Ruby programmer by night. When I'm not trying to bust out code like Yukihiro Matsumoto, I listen to rap music while keeping tabs on Twitter Kanye. Doing all three at once generally ends in severe self-inflation followed by crashing and burning back to reality.</p>
    <p>Tag along as I journey into the realms of programming abyss.</p>
  </div>

  <div class ="col-1 about homepage_content">
    <h2>About This Blog</h2>
    <hr>
    <p>In the past, I have always found myself dabbling in new ventures but failing to give it my all and following through with all my heart. This journal is my attempt to buck the trend, keep myself accountable, and brain-dump everything I think of along the journey to programming awesomeness. I'll try my best to document my learning journey in complete detail and transparency, including all my thoughts, my doubts, my fears, and my inner struggles.</p>
    <p>Hopefully by documenting this entire process, I can see the journey more clearly for myself, see how much effort I have put in, and push myself to keep going. Maybe one day, I'll be able to look back, see how far I have come, and give myself a pat on the back. But until then, the journey continues...</p>
    <p>Please say <a href="#"><%= link_to "hello", new_contact_path %></a> if you stumble upon this blog as the journey can be lonely sometimes. As you can see, this blog is a work in progress, and is something I hope will evolve along with my programming skills.</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Recent Posts</h2>
    <hr>

    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %d %b %Y") %></p>
    <% end %>
  </div>
</div>