<div class="wrapper wrapper_padding clearfix">
  <div class ="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>Hi! This is John and I'm an aspiring coder on my personal journey to the programming promise land.</p>
    <p>This blog contains personal logs of my learning journey, in hopes that I'll be able to look back and see how far I've come, and keep pushing ahead when times get tough.</p>
    <p>Please say <a href="#">hello</a> if you stumble upon this site as the journey can be lonely sometimes.</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Logs</h2>
    <hr>

    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
    <% end %>

  </div>
  
  <div class="col-3 homepage_content">
    <h2>Projects</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b, %d") %></p>
    <% end %>
  </div>
  </div>
</div>