<div class="wrapper wrapper_padding clearfix">
  <h1>Hello!</h1>
  <p>This is John. I'm a professional clock-puncher by day and an aspiring programmer by night. My life currently revolves around the 3 Rs - Ruby, Rails and Ramen! During my downtime, I listen to rap music while keeping tabs on twitter Kanye. I currently live in Perth, Western Australia and someone please save me.</p>
  <p> <%= link_to "Tag along", welcome_index_path, {:style=>'text-decoration:none' }%> as I journey into the realms of programming abyss.</p>

  <br />
<div class="social_buttons">
<nav>
      <a href="http://twitter.com/john_un" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="http://facebook.com/johnunz" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="http://github.com/johnun" target="_blank"><i class="fa fa-github"></i></a>
    </nav>
</div>
</div>